   #chocola{
                display: flex;
                justify-content:center ;
                text-align: center;
                gap: 40px;
                flex-wrap: wrap;
            }
            /*grote plaatje van het van chocola*/
            img{
                width: 100%;
                height: 70%;
            }
            /*kleur navigatiebalk op de pagina waar je bent*/
            
                  nav ul {
        list-style-type: none;
        background-color: rgb(167, 100, 23);
        display: flex;
        justify-content: center;
        padding: 8px; 
      }
      
     
      nav ul li a {
        color: rgb(236, 208, 159);
        text-decoration: none;
        padding: 8px; 
        display: block; 
      }
      /*kleur van de hover*/
      
      nav ul li a:hover {
      	background-color: rgb(146, 81, 19);
      }
       /*kleur navigatiebalk op de pagina waar je bent*/
     #actief {
      	background-color: rgb(97, 52, 15);
      }
      /*kleur van de achtergrond*/
      .alles{
        background-color: rgb(227, 209, 174);
      }
      /*stijl footer*/

      #footer{
        text-align: center;
        justify-content: center;
      }
      /*fotos op index*/
      #hallo{
        display: flex;
        justify-content: space-around ;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
      }
      /*grootte fotos index*/
      
      .chocola1 img {
        width: 100%;
      }
      /*stijl fotos index*/
      .chocola1{
       width: 30%;
       display: inline-block;
       vertical-align: top;
       margin: 1%;
       text-align: center;
      }
      /*stijl fotos chocola 2*/
      .chocola2 {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      /*stijl tekst onder de fotos*/
      .tekst3{
        display: flex;
        justify-content: center;
        text-align: center;
        
      }
      /*grootte foto chocola 2*/
      .chocola2 img{
        width: 100%;
      }
      /*tekst stijl voor onder fotos*/

      .tekst1{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        color: rgb(146, 108, 58);
      }
      /*staat er al in*/
                  nav ul {
        list-style-type: none;
        background-color: rgb(167, 100, 23);
        display: flex;
        justify-content: center;
        padding: 8px; 
      }
      /*grootte en block van img chocola 3*/
      .chocola3{
        width: 30%;
        display: block;

      }
     
      /*text align van de box zodat in midden*/
      #box{
        text-align: center;
      }
      /*stijl van de contacten*/
      .contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 70px;
        margin-top: 10%;
      }
     
